@model WEB_SCONET_MANAGEMENT.table_comment_term

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comment Module</h1>

<h3 class="text-center"> Delete Comment </h3>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Student ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_ID)
        </dd>

        <dt>
            Student Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
           Class Teacher's Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark_Teacher)
        </dd>

        <dt>
            No. of Time School Open
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_time_school_open)
        </dd>

        <dt>
            No. of Time Student Present
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_time_student_present)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
