@model WEB_SCONET_MANAGEMENT.table_comment_term

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>table_comment_term</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark_Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark_Teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark_Principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark_Principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_time_school_open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_time_school_open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_time_student_present)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_time_student_present)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_Punctuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_Punctuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.General_Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.General_Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note_to_Parent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note_to_Parent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neatness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neatness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comportment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comportment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relation_with_Peer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relation_with_Peer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obedience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obedience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punctuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punctuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark_Psycomotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark_Psycomotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Vacation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Vacation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Resumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Resumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_U)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_U)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.p_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
