@model IEnumerable<WEB_SCONET_MANAGEMENT.table_subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/><br/>
<h3 class="text-center"> Current List of Subjects </h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-hover table-responsive table-striped text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th class="text-center">
            <label>Identifier</label>
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.p_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.p_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.p_id })
        </td>
    </tr>
}

</table>
